@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfdff;
}
.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #dc4405;
  --accentDark: #f94b00;
}

.cl-footerActionLink {
  color: #dc4405;
}

.cl-footerActionLink:hover {
  color: #f94b00;
}

.cl-internal-b3fm6y {
  background-color: #dc4405;
  opacity: 0;
}
